parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: .phpstan.cache
    dynamicConstantNames:
        - YII_DEBUG
    bootstrapFiles:
        - tests/bootstrap.php
    scanDirectories:
        - vendor/yiisoft/yii/framework
    stubFiles:
        - stubs/Yii.stub
        - stubs/Psr.stub
