<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         executionOrder="random"
         defaultTestSuite="Main"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Main">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
